body {
  position: relative;
}
/*Variables Declaration*/
:root {
  /* --Theme-Color: #17b978; */
  /* --Icon-Color: #17b978; */
  --Theme-Color: #005f37;
  --Icon-Color-Two: #005f37;
  --Primary-color: #f4f7fa;
  --Second-Primary-Color: #d1d1d1;
  --Full-White: #ffffff;
  --Footer-Background: #2a363b;
  --Title-Font-Color: #333;
  --Title-Font-Colot-Two: #181810;
  --Subtitle-Font-Color: #333333;
  --Subtitle-Color: #ececec;
}
.profile-banner {
  background: linear-gradient(#005f37be, #005f37cb),
    url("../Assets-Files/bgbanner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  top: 65px;
  position: relative;
  background-position: center;
  width: 100%;
}
.profile-banner .profile-content {
  height: 50vh;
  flex-flow: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-banner .profile-content h1 {
  text-transform: capitalize;
  color: var(--Full-White);
  font-weight: 700;
  margin-top: 20px;
}
.profile-banner .profile-content p {
  text-transform: capitalize;
  color: var(--Full-White);
  font-size: 20px;
}
.profile-generator {
  position: relative;
  top: 65px;
  padding: 40px 0;
}
.profile {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
  background: #f8f8f8;
  padding: 10px 4px;
}
.profile .image-box {
  flex-basis: 25%;
  background: #005f37;
  border-radius: 3px;
}
.profile .image-box img {
  width: 100%;
  padding: 6px;
  border-radius: 3px;
}
.profile-text {
  flex-basis: 40%;
}
.profile-text h3 {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 600;
  color: var(--Title-Font-Colot-Two);
}
.profile-text p {
  text-transform: capitalize;
  color: var(--Title-Font-Color);
  font-size: 16px;
  font-weight: 505;
}
.new-post {
  flex-basis: 30%;
  padding: 10px 15px;
  background: #f4f4f5;
}
.new-post h3 {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 505;
  margin-bottom: 15px;
}
.new-post input,textarea {
  width: 100%;
  margin-bottom: 10px;
}
.new-post input[type="text"],
.new-post textarea {
	padding: 6px 6px;
	border-radius: 3px;
	border: 1px solid #dddddd;
	font-size: 13px;
}
.new-post textarea {
	height: 50px;
}
.new-post .post-btn {
	width: 100%;
	border-radius: 3px;
	padding: 4px 0;
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 510;
	background: var(--Theme-Color);
	color: var(--Full-White);
	border: 1px solid #dddddd;
}
.products-title {
	text-align: center;
	padding: 40px 0;
	margin-top: 20px;
}
.products-title h1 {
	text-transform: capitalize;
	font-size: 30px;
	font-weight: 700;
	color: var(--Title-Font-Color);
}
.products-title .Bar {
  width: 200px;
  height: 8px;
  background: var(--Primary-Color);
  margin: 0 auto;
  box-shadow: 2px 2px 3px #e7e8e9, -2px -2px 3px #fafdff,
    inset 1px 1px 2px #e7e8e9;
  border-radius: 3px;
  position: relative;
}
.products-title .Bar::before {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 8px;
  background: var(--Theme-Color);
  border-radius: 3px;
  animation: BG-Move 3s linear infinite;
}
@keyframes BG-Move {
  to {
    left: 90%;
  }
}
.products-gallery {
	margin: 20px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.single-product {
	flex-basis: 30%;
	padding: 10px 12px;
	background: var(--Subtitle-Color);
	border-radius: 3px;
  box-shadow: 4px 4px 8px #ceced1, -4px 4px 8px #ceced1;
  margin-bottom: 25px;
}
.single-product img {
	width: 100%;
	padding: 6px;
	border: 1px solid #dddd;
	border-radius: 3px;
}
.single-product h3 {
	text-transform: capitalize;
	font-size: 16px;
	margin-top: 10px;
}
.single-product h3 span {
	text-transform: capitalize;
	font-size: 18px;
  color: var(--Title-Font-Color);
}
.single-product h4 {
	text-transform: capitalize;
	color: var(--Title-Font-Color);
	font-size: 16px;
}
.single-product h4 span {
	font-size: 18px;
	color: var(--Theme-Color);
}
.single-product p {
	text-transform: capitalize;
	font-size: 16px;
	color: var(--Title-Font-Color);
}
.single-product p span {
	font-size: 15px;
	color: var(--Title-Font-Color);
	text-transform: capitalize;
}
.single-product .cartBtn {
	width: 100%;
	padding: 6px 0;
	border: 1px solid var(--Theme-Color);
	border-radius: 3px;
	background: var(--Theme-Color);
	color: var(--Full-White);
	text-transform: capitalize;
	font-weight: 510;
}